<div class="container">
  <br><br>

  <div class="row">
    <div class="col-md-12 text-center">
      <h3>User Managment System</h3>
      <h5>This is a user management and Vacuum Control system. If you want to see all registered users, click on Users button.
        <br>If you want to add users, click on Add Users button. All buttons is inside navigation bar.
        <br>If you want to take control on created vacuums, click on Search Vacuums.
      <br>Please be aware that this system has certain limitations in terms of permissions that were granted to you during the creation process.</h5>
    </div>
  </div>

</div>
